/*
Theme Name:   TwentyTwentythree
Theme URI:    
Description:  A Twenty Twenty-One child theme 
Author:       WPBeginner
Author URI:   
Template:     twentytwentythree
Version:      1.0.0
Text Domain:  twentytwentythreechild
*/

